.footer {
    background-color: black;
    color: white;
    height: 300px;
    text-align: center;
    justify-content: center;

    h4 {
        padding-top: 77px;
    }

    hr {
        color: white;
        width: 50%;
        margin: 0 auto;
        margin-top: 44px;
    }

    p {
        padding-top: 50px;
    }
}